*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
#container{
 width: 400px;
 padding: 0.5em;
 background-color: #c4c4c4;
 color: black;
 display: flex;
 flex-direction: column;
}

#container h3{
    font-size: 0.8em;
    font-weight: 300;
    color: #666;
}

#operations{
    text-align: right;
}

#prev-op, #current-op{
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;   
}

#prev-op{
    color: #777;

}
#current-op{
    font-size: 3em;
    font-weight: 700;
}

#btn-op{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#btn-op button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#btn-op .number{
    background-color:#f3f3f3;

}
#btn-op .number:hover{
    background-color: #bababa;
    border-color: #999;

}

#btn-op #equal-btn{
    grid-column: span 2;
    background-color: #75a5cb;
}

#btn-op #equal-btn:hover{
    background-color: #3a91d8;
}